* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(85, 85, 107);
}

a {
    text-decoration: none;
    color: black;
}

body header {
    background-color: rgb(85, 85, 107);
    height: 91px;
}

body main {
    margin-right: 50px;
    width: 100%;
    min-height: 500px;
    background-color: #ffffff;
}

button {
    cursor: pointer;
}

#cursosTable th {
    width: 10px;
}

#cursosTable,
#alunosTable,
#funcionariosTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding: 15px;
}

#alunosTable td,
#cursosTable td,
#funcionariosTable td {
    overflow: hidden;
    max-width: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

#alunosTable td,
#alunosTable th #cursosTable td,
#cursosTable th,
#funcionariosTable td,
#funcionariosTable th {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
    word-break: break-all;
}

#alunosTable tr:nth-child(even),
#cursosTable tr:nth-child(even),
#funcionariosTable tr:nth-child(even) {
    background-color: #ffffff;
}

#alunosTable tr:hover,
#cursosTable tr:hover,
#funcionariosTable tr:hover {
    background-color: #ddd;
}

#alunosTable th,
#cursosTable th,
#funcionariosTable th {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgb(1, 1, 115);
    color: white;
}

#sucessBar {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #04aa6d;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    right: 5%;
    /* Center the snackbar */
    top: 20px;
    /* 30px from the bottom */
}


/* Show the snackbar when clicking on a button (class added with JavaScript) */

#sucessBar.show {
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
	However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


/* Animations to fade the snackbar in and out */

@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}

#errorBar {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #910404;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    right: 5%;
    /* Center the snackbar */
    top: 20px;
    /* 30px from the bottom */
}


/* Show the snackbar when clicking on a button (class added with JavaScript) */

#errorBar.show {
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
	However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#add-aluno {
    padding: 10px;
}

#add-curso {
    padding: 10px;
}

#cabeçalho {
    width: auto;
    margin-top: 5px;
}

#add-nota {
    padding: 10px;
}

#add-funcionario {
    padding: 10px;
}

#titulo {
    width: 500px;
}

#titulo-tabela {
    font-size: 30px;
    padding-top: 10px;
    width: 50px;
    margin-left: 30px;
    color: #010173;
}

#menu-principal {
    height: 50px;
    display: flex;
}

#menu-direita {
    padding-top: 10px;
    width: 70%;
}

#menu-esquerda {
    display: flex;
    height: 30px;
    width: 30%;
}

#formulario-cadastro {
    width: 500px;
    margin-top: 5px;
}

form {
    text-align: center;
}

form label {
    font-size: 20px;
}

form textarea {
    margin-bottom: 15px;
}

form input {
    margin-bottom: 25px;
}

.paginacao {
    display: block;
    float: right;
    margin: 30px 10px;
}

.paginacao a,
.paginacao button {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    height: 33px;
}

.paginacao a.active {
    background-color: #010173;
    color: white;
    border: 1px solid #010173;
}

.paginacao button:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.paginacao a:hover:not(.active),
.paginacao button:hover:not(:disabled) {
    background-color: #ddd;
}

i {
    padding: 6px;
}

.icone {
    color: white;
    cursor: pointer;
    padding-top: 40px;
}

#menu-icones {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

#container {
    display: flex;
}

#procura-aluno,
#procura-funcionario,
#procura-curso {
    padding-top: 10px;
    text-align: end;
    margin-right: 20px;
    height: 50px;
}

.fa-solid {
    cursor: pointer;
}

#salvar-configuracao {
    padding: 10px;
}